Django==2.2.13
djangorestframework==3.11.2
# django-smart-selects==1.5.4
# git+https://github.com/digi604/django-smart-selects.git@js-unlinting-fixes
git+https://github.com/kajogo777/django-smart-selects.git@master
django-jet==1.0.8
django-filter==2.1.0
reportlab==3.5.23
psycopg2-binary==2.8.4
gunicorn==20.0.4
drf-nested-routers==0.91
django-ckeditor==5.9
django-sql-explorer==1.1.3